RewriteBase /RewriteEngine On

	RewriteBase /RewriteCond %{REQUEST_FILENAME} !-f
	RewriteBase /RewriteCond %{REQUEST_FILENAME} !-d

	RewriteBase /RewriteRule ^(.*)\.(gif|jpg|png|jpeg|css|js|swf)$ /$1.$2 [L,NC]

	# Removes index.php from ExpressionEngine URLs
	RewriteBase /RewriteCond %{REQUEST_FILENAME} !-f
	RewriteBase /RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteRule ^(.*)$ /index.php/$1 [L,QSA]
	RewriteBase /RewriteCond %{REQUEST_FILENAME} !index.php
	RewriteBase /RewriteRule .* index.php?url=$0 [QSA,L]
	