*{
	margin: 0px;
	padding: 0px;
}
 @media only screen and (min-width:768px) and (max-width: 1024px){
 	
 	.cIzquierda {
    display: table-caption;
    width: 90%;
    margin-top: 10%;
	}
	

	

  @media only screen and (min-width: 361px) and (max-width: 767px){
  	
  }
