 *{
 	margin: 0px;
	padding: 0px;
 }

 @media only screen and (min-width:768px) and (max-width: 1024px){
 	.intro{

 	background-color: #D8D8D8;
	margin-bottom: 2%;
	margin-top: 3%;
	margin-right: 5%;
	margin-left: 5%;
	position: relative;
	-webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;
    border-image: #fff;


    
    /* Border-radius not implemented yet */
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;

}
.intro img{
	 
        top: 0;
        right: 0;
        width: 100%;
       height: 50%
       
}
.interno1{
	border: 2px  solid #8A0808;
 	margin-top: 1%;
 	
 	width: 100%;
 	height: 50%;

 	
}
.cIzquierda1{
	display: table-row;
	width: 90%;
	padding: 3%;
	height: 50%;
	
}
.cDerecha1 {
	display: table-cell;
	width: 10%;
	padding-top: 50%;
	
	}
.formCompra{
	
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
}

 }
 @media only screen and (min-width: 361px) and (max-width: 767px){
 	.intro{

 	background-color: #D8D8D8;
	margin-bottom: 2%;
	margin-top: 3%;
	margin-right: 5%;
	margin-left: 5%;
	position: relative;
	-webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;
    border-image: #fff;


    
    /* Border-radius not implemented yet */
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;

}
.intro img{
	 
        top: 0;
        right: 0;
        width: 100%;
       height: 50%
       
}
.interno1{
	border: 2px  solid #8A0808;
 	margin-top: 20%;
 	
 	width: 100%;
 	height: 50%;

 	
}
.cIzquierda1{
	display: table-row-group;
	width: 90%;
	padding: 3%;
	height: 50%;
	
}
.cDerecha1 {
	display: table-cell;
	width: 10%;
	padding-top: 80%;
	
	}
.formCompra{
	
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
}

}
@media only screen and (max-width: 360px){
	.formCompra{
	
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;

}
.cDerecha1 {
	display: table-cell;
	width: 10%;
	padding-top: 160%;
	
	}
	.cIzquierda1{
	display: inline;
	width: 90%;
	padding: 3%;
	height: 50%;
	
}
.interno1{
	border: 2px  solid #8A0808;
 	margin-top: 50%;
 	
 	width: 140%;
 	height: 40%;

 position: absolute;	
}


}
				
}
